<robot name="bmw_x5">

  <link name="map"/>

  <joint name="map_to_car" type="fixed">
    <parent link="map"/>
    <child link="car_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="car_link"/>

  <joint name="car_to_lidar" type="fixed">
    <parent link="car_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.3 0 0.15" rpy="0 0 0"/>
  </joint>

  <link name="lidar_link"/>


</robot>

